.menu, .article-meta, footer, .post-nav { text-align: center; }
.article-footer { text-align: left; }
.title { font-size: 1.2em; }
.article-list h1, .title { line-height: 1.2em; }
.article-list a, .header a, footer a, .categories a, .active a, .comments a { text-decoration: none; }
.pagination { text-align: center; }
.pagination li, .terms li { display: inline; }
.pagination a { padding: 0 .2em; }

#masthead {
  margin-bottom: 50px;
}


.menu {
  margin-bottom: .5em;
  flex-wrap: wrap;
}
.menu li {
  display: inline-block;
  font-weight: bolder;
}
.menu a { padding: .5em; }
.menu a:hover {
  color: #000;
  background: #fff;
}

hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code {
  background: none;
  padding: .5em;
  display: block;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: 1em auto auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }

.thumbnail {
  height: 5.1em;
  width: 6.8em;
  float: left;
  overflow: hidden;
  margin: 5px 8px 5px 0;
  /* box-shadow: 0 0 8px #666; */
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#TableOfContents, #TOC, .comments {
  border: 1px solid #eee;
  border-radius: 5px;
}
.comments a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
.terms { padding-left: 0; }
.post-nav {
  margin: .5em 0;
  display: flex;
  justify-content: space-between;
}
.footnotes { font-size: .9em; }
.footnotes hr {
  width: 50%;
  margin-left: 0;
}




/* // ------ */

.main-header-bar {
  line-height: 3;
}

@media (min-width: 922px)
{
  .main-header-bar {
    border-bottom-width: 0;
    border-bottom-color: #969696;
  }
}

.ast-logo-title-inline .ast-site-identity {
  -js-display: inline-flex;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0px;
}

.site-branding {
  text-align: center;
  width: 100%;
  background: #3E5062;
  background-color: #3E5062;
  color: white;
  padding: 0 !important;
  max-height: 150px !important;
}

.ast-logo-title-inline .site-logo-img {
  padding-right: 1em;
}
.site-logo-img {
  max-height: 150px !important;
}

.ast-logo-title-inline.header-main-layout-2 .site-logo-img+.ast-site-title-wrap .site-title {
  justify-content: flex-start;
}

.site-title {
  margin-bottom: 0;
  font-weight: 400;
}
.ast-logo-title-inline.header-main-layout-2 .site-logo-img+.ast-site-title-wrap .site-title {
  justify-content: flex-start;
}

.site-title a:visited {
  color: white;
  font-family: Rockwell;
  font-weight: 800;
}

.ast-main-header-bar-alignment {
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.main-header-bar-navigation {
  height: 100%;
  text-align: center;
  background: #2B3843;
  padding-bottom: 4px;
  padding-top: 4px;
  flex: 1;
}

#site-navigation {
  height: 100%;
  flex-grow: 1;
}

.main-navigation {
  display: inline-flex;
  height: 100%;
}

#primary-menu {
  background: #2B3843;
  padding-left: 10px;
}

.main-navigation ul {
  list-style: none;
  position: relative;
}

#primary-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.site-logo-img {
  max-height: 150px !important;
}

.menu-item {
  flex-direction: col;
}

.main-header-bar-navigation a {
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto", "Sans-serif";
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

#site-logo-title {
  font-family: "Rockwell";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

#menu-item-rss img {
  height: 16px;
  margin-left:3px;
}