.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  font-family: "Roboto", "Sans-serif";
  color: rgb(119,119,119);
}

.list section {
  flex: 1 0 300px;
  margin: 20px;
  overflow-x: hidden;
}
@media (max-width: 380px) {
  .list section { flex: auto; }
}
@media (min-width: 715px) {
  .list section { max-width: calc(50% - 15px); }
  .article-list h2:hover { white-space: inherit; }
}
@media (min-width: 1080px) {
  .list section { max-width: calc(33.33333% - 15px); }
}
.article-list a, .banner a { color: #000; }


.list h2 {
  font-size: 18px;
  font-weight: 600;
  color: #54595f;
}

.list .summary {
  font-size: 14px;
}

.article-list h2 { margin: .2em auto .2em 0; }

/* image  */
.list img {
  height: 200px;
  text-align: center;
  width: 100%;
}