.widget-title {
  background: #3E5062 !important;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  color: white;
  margin-top: 0;
  font-weight: 500;
}


.sidebar-widget {
  margin-bottom: 20px;
  background-color: white;
  text-align: start;
}

#subscribe-self-container .textwidget {
  padding: 15px;
}

#subscribe-self-container h2 {
  height: 20px;
}

/* recent posts */
.sidebar-widget ul {
  margin: 0;
  margin-top: -12px;
  list-style-type: none;
  border: 0;
  padding: 0;
  vertical-align: baseline;
}

.sidebar-widget li {
  border-bottom: 1px solid lightgray;
  font-size: 14px;
  padding: 2px;
  margin-bottom: 8px;
}

.sidebar-widget li a {
  color: #0274be;
  text-decoration: none;
  font-family:"Open Sans", sans-serif;
}

.sidebar-widget li a:hover {
  color: black;
}