/* single style */
/* ============ */

.container-single {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1340;
  text-align: center;
}

.article-single {
  text-align: start;
  display: inline-block;
  position: relative;
  max-width: 800px;
  flex-grow: 1;
  background-color: white;
  background: white;
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  color: rgb(58,58, 58);
  padding: 60px;
  /* margin-right:25px; */
}

/* Sidebar */
.sidebar-container {
  margin-left:60px;
  width: 302px;
  display: inline-block;
  vertical-align: top;

  /* background-color: beige; */
}

@media only screen and (max-width: 1288px) {
  .sidebar-container {
    margin-left:10px;
  }

  .article-single {
    max-width: 800px;
    padding: 30px;
  }
  
}

@media only screen and (max-width: 800px) {
  .article-single {
    display: block;
    padding: 20px;
  }

  .sidebar-container {
    margin-left:0;
  } 
}

@media only screen and (max-width: 359px) {
  .article-single {
    padding: 10px;
  }
}


.article-single h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
}

.article-single h2 {
  font-size: 30px;
  font-weight: 400;
}

article {
  padding: 30px;
}
.article-meta {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.post-meta {
  color: #0274be;
}

.post-meta a {
  color: #0274be;
  text-decoration: none;
}

#featured-image {
  width: 100%;
  height: auto;
  margin-top: 20px;

}


