/* single style */
/* ============ */

.container-single {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.article-single {
  max-width:787px;
  flex-grow: 1;
  background-color: white;
  background: white;
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  color: rgb(58,58, 58);
  padding: 80px;
  margin-right:25px;
}

.sidebar-container {
  margin-left:25px;
  width: 302px;
  background-color: beige;

}

.article-single h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
}

.article-single h2 {
  font-size: 30px;
  font-weight: 400;
}

article {
  padding: 30px;
}
.article-meta {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.post-meta a {
  font-size: .9em;
  text-transform: uppercase;
}

.post-meta {
  color: #0274be;
}

#featured-image {
  margin-top: 20px;

}
