body {
  margin: 0;
  background: #F5F5F5;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  max-width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 400;
}

.post-nav { text-align: center; }

.header div, .copyright, .menu {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}

.page .header div, .page .copyright, .page .menu { max-width: 900px; }
.container { 
  hyphens: auto; 
  line-height: 26px;
}
@media (max-width: 930px) {
  .page .container { padding: 0; }
}
main { margin-bottom: 15px; }

.container a{
  color: #0274be;
  text-decoration: none;
}

.container a:hover {
  color: #3a3a3a;
}

/* header and footer areas */
.header {
  border-top: 5px solid #666;
  border-bottom: 4px double #666;
  text-align: center;
  padding: 15px 0 5px;
}
.head-meta, .menu {
  display: flex;
  justify-content: space-between;
}
/* .header, .list section, article { background: #fff; } */
.banner { font-size: 4em; }
.banner .text {
  display: block;
  line-height: 1em;
}


/* Footer */
.footer {
  background: #3a3a3a;
  color: white;
  padding: 1em 0;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  min-height: 100px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.footer, .footer a { color: #fff; }
.copyright, .copyright a { color: #ccc; }

.footer ul {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: auto;
  padding: 0 15px;
  list-style-type: none;
}

/* h6, blockquote */

/*notes,h6,blockquote*/
h6,blockquote {
  text-transform: none;
  background: Beige;
  padding: 15px 15px 15px 25px !important;
  border-left: 4px solid gray;
  font-weight: normal !important;
  font-size: 15px !important;
  margin-bottom: 10px;
}
h6 a {
  font-size: 15px !important;
}
h6 {
  font-family:"Open Sans", sans-serif;
  font-size:15px;
  font-weight: normal;
}
blockquote a {
  font-size: 15px !important;
}
blockquote {
	margin:0;
	margin-bottom:20px;
}

/*===FONTS==========================================================*/
body {
  font-family: Optima, 'Lucida Sans', Calibri, Candara, Arial, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Noto Serif CJK SC', 'Songti SC', 'Microsoft YaHei', sans-serif;
}
blockquote {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
}
code {
  font-family: "Lucida Console", 'Andale Mono', 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre code {
  font-family: "Lucida Console", Monaco, 'STKaiti', 'KaiTi', 'SimKai', monospace;
  font-size: .85em;
}


/*===single style==========================================================*/
.container-single {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1340;
  text-align: center;
}

.article-single {
  text-align: start;
  display: inline-block;
  position: relative;
  max-width: 800px;
  flex-grow: 1;
  background-color: white;
  background: white;
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  color: rgb(58,58, 58);
  padding: 60px;
  /* margin-right:25px; */
}

#featured-image {
  width: 790px;
  height: 473px;
  margin-top: 20px;
}

#share-buttons a {
  margin-right: 5px;
}

#share-buttons a img {
  width: 40px;
  height: 40px;
}

#disqus-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1340px;
}

/*===single.sidebar==========================================================*/

/* Sidebar */
.sidebar-container {
  margin-left:60px;
  width: 302px;
  display: inline-block;
  vertical-align: top;

  /* background-color: beige; */
}

@media only screen and (max-width: 1288px) {
  .sidebar-container {
    margin-left:10px;
  }

  .article-single {
    max-width: 800px;
    padding: 30px;
  }
  
}

@media only screen and (max-width: 800px) {
  .article-single {
    display: block;
    padding: 20px;
  }

  .sidebar-container {
    margin-left:0;
  } 
}

@media only screen and (max-width: 359px) {
  .article-single {
    padding: 10px;
  }

}

@media only screen and (max-width: 920px) {
  #featured-image {
    width: 100%;
    height: auto;
  }
}


.article-single h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
}

.article-single h2 {
  font-size: 30px;
  font-weight: 400;
}

article {
  padding: 30px;
}
.article-meta {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.post-meta {
  color: #0274be;
}

.post-meta a {
  color: #0274be;
  text-decoration: none;
}



/*===Sidebar==========================================================*/
.widget-title {
  background: #3E5062 !important;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  color: white;
  margin-top: 0;
  font-weight: 500;
}


.sidebar-widget {
  margin-bottom: 20px;
  background-color: white;
  text-align: start;
}

#subscribe-self-container .textwidget {
  padding: 15px;
}

#subscribe-self-container h2 {
  height: 20px;
}

/* recent posts */
.sidebar-widget ul {
  margin: 0;
  margin-top: -12px;
  list-style-type: none;
  border: 0;
  padding: 0;
  vertical-align: baseline;
}

.sidebar-widget li {
  border-bottom: 1px solid lightgray;
  font-size: 14px;
  padding: 2px;
  margin-bottom: 8px;
}

.sidebar-widget li a {
  color: #0274be;
  text-decoration: none;
  font-family:"Open Sans", sans-serif;
}

.sidebar-widget li a:hover {
  color: black;
}

/*===list==========================================================*/
.container-list {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  font-family: "Roboto", "Sans-serif";
  color: rgb(119,119,119);
}

.list section {
  flex: 1 0 300px;
  margin: 20px;
  overflow-x: hidden;
}
@media (max-width: 380px) {
  .list section { flex: auto; }
}
@media (min-width: 715px) {
  .list section { max-width: calc(50% - 15px); }
  .article-list h2:hover { white-space: inherit; }
}
@media (min-width: 1080px) {
  .list section { max-width: calc(33.33333% - 15px); }
}
.article-list a, .banner a { color: #000; }


.list h2 {
  font-size: 18px;
  font-weight: 600;
  color: #54595f;
}

.list .summary {
  font-size: 14px;
}

.article-list h2 { margin: .2em auto .2em 0; }

/* image  */
.list img {
  height: 200px;
  text-align: center;
  width: 100%;
}

/*===Header==========================================================*/
.article-footer { text-align: left; }
.article-list h1, .title { line-height: 1.2em; }
.article-list a, .header a, footer a, .categories a, .active a, .comments a { text-decoration: none; }
.pagination { text-align: center; }
.pagination li, .terms li { display: inline; }
.pagination a { padding: 0 .2em; }


#masthead {
  margin-bottom: 50px;
  text-align: center;
}


.menu {
  margin-bottom: .5em;
  flex-wrap: wrap;
}
.menu li {
  display: inline-block;
  font-weight: bolder;
}
.menu a { padding: .5em; }
.menu a:hover {
  color: #000;
  background: #fff;
}

hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code {
  background: none;
  padding: .5em;
  display: block;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: 1em auto auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }

.thumbnail {
  height: 5.1em;
  width: 6.8em;
  float: left;
  overflow: hidden;
  margin: 5px 8px 5px 0;
  /* box-shadow: 0 0 8px #666; */
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#TableOfContents, #TOC, .comments {
  border: 1px solid #eee;
  border-radius: 5px;
}
.comments a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
.terms { padding-left: 0; }
.post-nav {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
}
.footnotes { font-size: .9em; }
.footnotes hr {
  width: 50%;
  margin-left: 0;
}





/* @media (min-width: 922px)
{
  .main-header-bar {
    border-bottom-width: 0;
    border-bottom-color: #969696;
  }
} */

.ast-logo-title-inline .ast-site-identity {
  -js-display: inline-flex;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0px;
}

.site-branding {
  text-align: center;
  width: 100%;
  background: #3E5062;
  background-color: #3E5062;
  color: white;
  padding: 0 !important;
  max-height: 150px !important;
}

.ast-logo-title-inline .site-logo-img {
  padding-right: 1em;
}
.site-logo-img {
  max-height: 150px !important;
}

.ast-logo-title-inline.header-main-layout-2 .site-logo-img+.ast-site-title-wrap .site-title {
  justify-content: flex-start;
}

.site-title {
  margin-bottom: 0;
  font-weight: 400;
}
.ast-logo-title-inline.header-main-layout-2 .site-logo-img+.ast-site-title-wrap .site-title {
  justify-content: flex-start;
}

.site-title a:visited {
  color: white;
  font-family: Rockwell;
  font-weight: 800;
}

.ast-main-header-bar-alignment {
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.main-header-bar-navigation {
  height: 100%;
  text-align: center;
  background: #2B3843;
  padding-bottom: 14px;
  padding-top: 14px;
  flex: 1;
}

#site-navigation {
  height: 100%;
  flex-grow: 1;
}

.main-navigation {
  display: inline-flex;
  height: 100%;
}

#primary-menu {
  background: #2B3843;
  padding-left: 10px;
}

.main-navigation ul {
  list-style: none;
  position: relative;
}

#primary-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.site-logo-img {
  max-height: 150px !important;
}

.menu-item {
  flex-direction: col;
}

.main-header-bar-navigation a {
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto", "Sans-serif";
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

#site-logo-title {
  font-family: "Rockwell";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

#menu-item-rss img {
  height: 16px;
  margin-left:3px;
}

#brand-image {
  display: inline-block;
}

#brand-logo {
  display: inline-block;
  color: white;
  font-family: Rockwell;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
  vertical-align: top;
  margin-top: 75px;
}

/* // site branding  */
.main-header-container {
  background-color:  rgb(62, 80, 98);
  margin-bottom: -4px;
}

@media (max-width: 920px) {
  #brand-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -4px;
  }

  #brand-logo {
    margin: 0px;
    padding: 15px;
    display: block;
    background-color: peru;
  }
  .main-header-container {
    margin-bottom: 0;
  } 

}



/* Hamburger


@media all and (min-width:320px) {
  .ast-mobile-menu-buttons {
    display: none;
  }
}

.ast-button-wrap .menu-toggle .menu-toggle-icon:before {
  content: "\e5d2";
  font-family: Astra;
  text-decoration: inherit;
} */



