body {
  margin: 0;
  line-height: 1.5em;
  background: white;
}
.header div, .container, .copyright, .menu {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}
.page .header div, .page .container, .page .copyright, .page .menu { max-width: 900px; }
.container { hyphens: auto; }
@media (max-width: 930px) {
  .page .container { padding: 0; }
}
main { margin-bottom: 15px; }

/* header and footer areas */
.header {
  border-top: 5px solid #666;
  border-bottom: 4px double #666;
  text-align: center;
  padding: 15px 0 5px;
}
.head-meta, .menu {
  display: flex;
  justify-content: space-between;
}
/* .header, .list section, article { background: #fff; } */
.banner { font-size: 4em; }
.banner .text {
  display: block;
  line-height: 1em;
}

/* Footer */
.footer {
  background: #666;
  padding: 1em 0;
}
.footer, .footer a { color: #fff; }
.copyright, .copyright a { color: #ccc; }