{{ define "main" }}
  <div class="container container-list">
    
  <main class="list">


    {{ if .IsHome }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
  {{ range $paginator.Pages }}
    {{ partial "list_internal.html" . }}
  {{ end }}

{{ else }}
{{ $paginator := .Paginate .Pages }}
  {{ range $paginator.Pages }}
    {{ partial "list_internal.html" . }}
  {{ end }}
{{ end }}

  </main>
  <nav>{{ template "_internal/pagination.html" . }}</nav>
  </div>



{{ end }}