{{ define "main" }}
  <div class="container container-list">
    
  <main class="list">


    {{ if .IsHome }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
  {{ range $paginator.Pages }}
  <section class="article-list">
    <a href="{{ .RelPermalink }}">
      <img src="{{ .Params.image }}"/>
      <h2>{{ .Title }}</h2>
    </a>
    <span class="post-meta-list">
    {{ range $i, $e := .Params.categories }}
      {{ if $i }} &hercon; {{ end }}<a href="{{ relURL (print "/categories/" $e | urlize) }}">{{ $e }}</a>
    {{ end }}
    | {{ time.Format "Jan 2, 2006" .Params.date }}
    </span>
    
    <div class="summary">
      {{ with .Params.excerpt }}
      <p>{{ . }}</p>
      {{ else }}
      <p>{{ .Summary }}</p>
      {{ end }}
    </div>
    
  </section>
  {{ end }}

{{ else }}
{{ $paginator := .Paginate .Pages }}
  {{ range $paginator.Pages }}
  <section class="article-list">
    <a href="{{ .RelPermalink }}">
      <img src="{{ .Params.image }}"/>
      <h2>{{ .Title }}</h2>
    </a>
    
    <div class="summary">
      {{ with .Params.excerpt }}
      <p>{{ . }}</p>
      {{ else }}
      <p>{{ .Summary }}</p>
      {{ end }}
    </div>
    
  </section>
  {{ end }}
{{ end }}

  </main>
  <nav>{{ template "_internal/pagination.html" . }}</nav>
  </div>



{{ end }}