{{ define "main" }}
  <div class="container container-list">
    
  <main class="list">

  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
  {{ range $paginator.Pages }}
  <section class="article-list">
    <a href="{{ .RelPermalink }}">
      <img src="{{ .Params.image }}"/>
      <h2>{{ .Title }}</h2>
    </a>
    
    <div class="summary">
      {{ with .Params.excerpt }}
      <p>{{ . }}</p>
      {{ else }}
      <p>{{ .Summary }}</p>
      {{ end }}
    </div>
    
  </section>
  {{ end }}


  </main>
  <nav>{{ template "_internal/pagination.html" . }}</nav>
  </div>

{{ end }}