{{ define "main" }}

<div class="container container-single">
  <article class="article-single">
    <div class="article-meta">

      <h1 class="title">{{ .Title }}</h1>
      {{ $isPost := eq .Section "posts" }}
      {{ if $isPost }}
        <span class="post-meta">
        {{ range $i, $e := .Params.categories }}
          {{ if $i }} &hercon; {{ end }}<a href="{{ relURL (print "/categories/" $e | urlize) }}">{{ $e }}</a>
        {{ end }}
        / {{ time.Format "Jan 2, 2006" .Params.date }}
        </span>
      {{ end }}
      {{ with .Params.image }}
        <img id="featured-image" src="{{ . }}"/>
      {{ end }}
    </div>

    <main class="main-single">
    {{ .Content }}
    </main>

    {{ if $isPost }}
      {{ partial "prev_next.html" . }}
      {{ partial "comments.html" . }}
    {{ end }}
  </article>

  <div class="sidebar-container">
    {{ if (index .Params "showSubscribe" | default true) }}
      {{ partial "sidebar_subscribe.html"}}
    {{ end }}
    
    {{ partial "sidebar_self.html"}}
    {{ partial "sidebar_recent.html" }}
  </div>

</div>



{{ end }}

{{ define "meta" }}
<meta property="og:title" content='{{ .Title }}' >
<meta property="og:type" content="article" />
{{ with .Params.image }}
        <meta property="og:image" content='https://michaelscodingspot.com{{ . }}'>
{{ end }}
<meta property="og:url" content='{{ .Permalink | absURL }}'>
<meta name="twitter:card" content="summary_large_image">
{{ end }}