{{ partial "header.html" . }}
<div class="container">
  
<main class="list">

{{ $paginator := .Paginate (where .Pages "Section" "posts1") }}
{{ range $paginator.Pages }}

<section class="article-list">
  <p>  {{ .Type }} aaa1 </p>

  

  <img src="{{ .Params.image }}"/>
  <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
  
  <div class="summary">
    {{ with .Params.excerpt }}
    <p>{{ . }}</p>
    {{ else }}
    <p>{{ .Summary }}</p>
    {{ end }}
  </div>
  
</section>
{{ end }}

</main>
<nav>{{ template "_internal/pagination.html" . }}</nav>
</div>

{{ partial "footer.html" . }}
